* {
    /* DEBUG */
    /* outline: solid silver; */
    background-color: #333333;
    color: #eee;


    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, system-ui, sans-serif;
}

#btn-form-players {
    display: block;
} 

#gameboard {
    display: none;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 15rem;
    height: 15rem;    
}

.cell {
    width: 5rem;
    height: 5rem;
    border: 2px solid darkorange;
}

#notifications {
    /* border: 2px solid darkorange; */
    color: darkorange;
}

#play-again {
    display: none;
}


